:root{
  --primaryBgColor : #ffffff;
  --primaryFontColor : grey;
  --secondaryBgColor : yellow;
  --secondaryFontColor : blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grandParent {
  height: 100vh;
  border: 2px solid green;
}
.parent {
  height: 100px;
  width: 100px;
  border: 2px solid var(--secondaryFontColor);
  /* border-width: 2px;
    border-style: solid;
    border-color: red; */
  /* border-right: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid red; */
}
.parent1 {
  background-color: var(--primaryBgColor);
  /* margin: 100px; */
  /* margin: 100px 500px; */
  /* 1st top and bottom and 2nd left and right */
  /* margin: 0px 100px 500px; */
  /* 1st top 2nd left and right 3rd bottom */
  /* margin: 0px 100px 500px 0px; */
  /* 1st top 2nd right 3rd bottom 4th left */
  /* margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 30px; */

  /*  */

  /* padding: 100px; */
  /* padding: 100px 500px; */
  /* 1st top and bottom and 2nd left and right */
  /* padding: 0px 100px 500px; */
  /* 1st top 2nd left and right 3rd bottom */
  /* padding: 0px 100px 500px 0px; */
  /* 1st top 2nd right 3rd bottom 4th left */
  /* padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 30px; */

    /* 
        multicolumn , paginaion, dropdwon, float, bootstrap, 
    */
}

.parent2 {
  background-color: var(--primaryFontColor);
  position: relative;
  animation: loopAnim 50s linear infinite;
}




.parent3 {
  background-color: var(--secondaryBgColor);
  /* transition: 2s ease-in-out; */
  
  /* transition-delay: 2s; */
  transition-duration: 5s;
  /* transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); */
  /* transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); */
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.parent:hover{
  width: 500px;
  transform: scale(2);
}
/* .child3 {
  width: 50%;
  height: 50%;
  background-color: aquamarine;
} */
.parent4 {
  background-color: blue;
  position: sticky;
  top: 30px;
}
.parent5 {
  background-color: hotpink;
}

.grandParent1 {
  background-color: green;
  display: flex;
}
.grandParent2 {
  background-color: red;
}


/* @media screen {
  
} */

@media (max-width: 768px) {
    .grandParent1{
      background-color: black;
    }
}

@media (max-width: 500px) {
    .grandParent1{
      background-color: white;
      flex-direction: column;
      align-items: center;
    }
}

/* @media not screen {
  
} */